*
!/.gitignore
!/README.md
!/compose.yaml
!/requirements.txt
!/work/
/work/*
!/work/*.py
!/work/esp32/
/work/esp32/*
!/work/esp32/*.py
!/outputs/
/outputs/*
!/outputs/csi-live-demo/
/outputs/csi-live-demo/*
!/outputs/csi-live-demo/*.html
!/outputs/csi-preliminary/
/outputs/csi-preliminary/*
!/outputs/csi-preliminary/train-and-audit.py
